@model StoreProject.Core.Cart
        
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    @foreach(var item in Model.Items)
    {
        <tr>
            <td>@item.Product.Name</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>
           
        </tr>
    }
    <tr>
        <td>Total:</td>
        <td>&nbsp;</td>
        <td>@Model.Price</td>
    </tr>
</table>