@model IEnumerable<StoreProject.Core.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>SKU</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
        <th>Quantity</th>
        
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Sku</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@Html.ActionLink("Details", "Details", new {id = product.Sku})</td>
            <td>@using (Html.BeginForm("Add", "Cart", new { id = product.Sku }))
            {
                <input type="number" placeholder="Enter Quantity Here..." id="ProductPageQuantity" name="quantity"  />
                <input type="submit" value="Add to cart" />
            }</td>
        </tr>
    }
</table>
